/* background images/colours */
body {
  background-image: url("./assets/Full-Background.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 5%;
}

.nes-container {
  background-color: #E76E55;
}

/* typography */
html, body, button {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #F7D51D;
  text-shadow: 5px 5px 0px black;
  padding: 3rem 0rem;
  letter-spacing: 0.3rem;
  transform: scale(1.2, 2);
  text-align: center;
}

h2 {
  color: #F7D51D;
  text-shadow: 2px 2px 0px black;
  font-size: 1.5rem;
}

label, button {
  font-size: 1.3rem;
}

::placeholder {
  color: lightgrey;
}

.big-btn {
  font-size: 1.5rem;
}

/********* display/layout ********/
/* elements */
button {
  display: block;
  width: 100%;
}

li {
  padding: 0.5rem;
}

/* header */
#root > .container--header {
  margin: 3%;
  display: flex;
  justify-content: center;
}

/* layout */
.container {
  margin: 5%;
}

.container--message {
  margin: 8% 0% 5% 0%;
  display: flex;
}

.nes-balloon {
  width: 90%;
  margin-bottom: 5%;
}

.nes-bcrikko {
  align-self: flex-end;
}

.container--grid {
  margin: 5% 2% 10% 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 5% 8%;
  justify-items: center;
  align-items: stretch;
}

.container--button {
  display: flex;
  justify-content: center;
}

.container--button > button {
  width: 60%;
}

/* settings page */
.add {
  width: 100%;
  height: min-content;
}

.nes-field {
  margin: 5% 0%;
}

.players {
  width: 100%;
  min-height: 50vh;
}

/* tournament page */
.match {
  margin-bottom: 15%;
}

.round {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/******** media queries *******/

/* mid-size screens */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.2rem;
    text-shadow: 3px 3px 0px black;
    transform: scale(1.3, 2.5);
  }
  
  h2 {
    font-size: 1.1rem;
  }

  p, li, ::placeholder {
    font-size: 0.8rem;
  }

  label, button {
    font-size: 1rem;
  }
  
  .big-btn {
    font-size: 1.2rem;
  }

  .container--button > button {
    width: 75%
  }

  .container--tournament {
    grid-auto-rows: auto;
    margin-bottom: 15%;
  }

}

/* small screens */
@media screen and (max-width: 899px) {
  h1 {
    font-size: 1.8rem;
    text-shadow: 2px 2px 0px black;
    transform: scale(1.2, 2);
  }

  .container--grid {
    margin-bottom: 10%;
  }

  .container--button > button {
    margin: 10%;
  }

  .nes-balloon {
    /* allows line breaks to take effect */
    white-space: pre-wrap;
  }

}

/* extra-small screens */
@media screen and (max-width: 420px) {
  html {
    font-size: 0.8rem;
  }

  .nes-balloon {
    width: 100%;
  }

  i.nes-bcrikko {
    display: none;
  }

  .container--button > button {
    width: 100%;
  }
}